<div class="row">
  <div class="large-12 columns text-center">
    <% @questions.each do |question| %>
      <% if can_display_question?(question) %>
        <strong><%= link_to question.user.full_name, profile_page_path(question.user) %></strong>
        <div class="panel">
          <ul class="no-bullet">
          <li> <%= question.content %> </li>

          <% if question.document %>
            <p> <%= image_tag question.document.attachment.url %> </p>
          <% end %>

          <% if question.user == current_user%>
            <li><%= link_to 'Edit', edit_question_path(question) %></li>
            <li><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></li>

           <em><%= link_to time_ago_in_words(question.created_at) + " ago", question %></em>
           <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
