<div class="container">
  <%= simple_form_for(@question, :html => {:class => "form-horizontal", multipart: true}) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :subject %>
    <%= f.input :body %>
    <%= f.input :tag_list, placeholder: "Tags (separated by commas) Tag users by their name. e.g., john, jane" %>
    <%= f.hidden_field :user_id, value: current_user.id %>

  <p>
<b>body:</b>
  <%= @question.body %>
  <% if @question.document && @question.document.attachment? && @question.document.valid? %>
    <ul class="clearing-thumbs" data-clearing>
      <li><a href="<%= @question.document.attachment.url %>">
        <span class="label label-info">Click To View Attachment</span><br><img id="thumbnail" src="<%= @question.document.attachment.url %>"/></a></li>
    </ul>
  <% end %>
</p>                          
    <%= f.fields_for :document do |document_fields| %>
      <%= document_fields.input :attachment, as: :file %>
    <% end %>
    <div class="medium-6 columns">
    <input class="file optional" id="question_document_attributes_attachment" name="question[document_attributes][attachment]" type="file" value="Upload Photo"/> </input>

    <span class="actions">
      <%= f.button :submit, :value => 'Update Post', class: 'button round success' %>
    </span>
  <% end %>
</div>

