<%= render :partial => "topnavforum" %>

<div class="row questions-master">

  <div class="large-12 medium-12 small-12 columns">
    <div class="large-12 medium-12 small-12 columns questions questions-title">
      <center> <h1>Questions</h1> </center>
    </div>

    <div class="large-3 medium-3 columns questions questions-tag-feed">
      <h2> <center>Tag Cloud</center> </h2> <hr>
      <div id="tag_cloud">
        <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>

    <div class="large-8 medium-8 small-12 columns questions-feed">

      <% @questions.each do |question| %>
        <div class="questions-div">
          <div class="questions-div-content">
            <%= image_user_path(question.user) %>
            <span class="questions-div-user-top-span">
              <%= question_user_name(question, class: "questions-user-name") %>
              <span class="questions-time-ago">
                <%= time_ago(question.created_at) %>
              </span>
              <span class="questions-posted-time">
                <%= time_date(question) %>
              </span>
            </span>
          </div>

          <div class="large-12 medium-12 small-11 user-questions-post-content">
            <article class="question-subject-article">
              <%= question.subject %>
            </article>
            <article class="question-body-article">
              <%= limit_length(question) %>
            </article>
            <% if question_document_valid?(question) %>
              <hr>
              <div class="row">
                <div class="<%= all_column_style_centered(7,7,10) %>">
                  <ul class="clearing-thumbs" data-clearing>
                    <li>
                      <a href="<%= document_url(question) %>">
                        <img id="questions-images" src="<%= document_url(question) %>"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>

          <span class="questions-icon-bar">
            <div class="icon-bar four-up">
              <% if current_user.voted_up_on? question %>
                <span id="view-heart" class="like-question">
                  <%= link_to dislike_question_path(question.id), method: 'put', remote: true, id: "like-heart", action: 'downvote', data: { id: question.id, voter: current_user.id, vote: "unlike" } do %>
                    <i class="fi-heart red" id="test"></i>
                    <label>Liked</label>
                    <% end %>
                </span>
                <% else %>
                <span id="view-heart" class="like-question">
                  <%= link_to like_question_path(question.id), method: 'put', remote: true, id: "like-heart", action: 'upvote', data: { id: question.id, voter: current_user.id, vote: "like" } do %>
                    <i class="fi-heart" id="test"></i>
                    <label>Like</label>
                    <% end %>
                </span>
              <% end %>
              <span id="questions-info">
                <a href=" <%= "/questions/" + question.id.to_s %>" class="item">
                  <i class="fi-info"></i>
                  <label>View Question</label>
                </a>
              </span>  
              <span id="questions-comments">
                <a href=" <%= "/questions/" + question.id.to_s %>" class="item">
                  <i class="fi-comments"></i>
                  <label><%= pluralize(question.answers.length.to_s, 'Answer') %></label>
                </a>
              </span>  
              <span id="questions-lock">
                <a href="#" class="item">
                  <i class="fi-lock"></i>
                  <label id="questions-lock-label"></label>
                </a>
              </span>  
            </div> <!-- icon-bar -->
          </span> <!-- questions-icon-bar -->
          <span class="questions-likes">
            <i class="fi-heart"> </i> 
            <%= "Liked by\s" + pluralize(question.get_likes.size, 'person') %>
          </span>            
        </div> <!-- questions-div -->
      <% end %>
    </div>
  </div>
</div>

<div class="pagination-centered">
  <ul class="pagination">
  <%#= paginate @questions %>
  </ul>
</div>

  <!-- Reveal Modals begin -->
  <div id="newhelp" class="reveal-modal" data-reveal>
    <%= render :partial => "partials/question" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- End Reveal Modals -->
