 <div class="row">
 <%= render :partial => "questions/topnavforum" %>
  <div class="small-9 small-centered columns activity">
    <p><b>Name:</b>
      <%= @question.user.full_name %>
    </p>

    <p><b>Content:</b>
      <%= @question.body %>
    </p>

    <p><b>Posted:</b>
      <%= time_ago_in_words(@question.created_at).titleize + "\sAgo On\s" + @question.created_at.strftime('%a %b %d %Y') %>
    </p> 

    <p>
      <% if @question.document && @question.document.attachment? && @question.document.valid? %>
        <ul class="clearing-thumbs" data-clearing>
          <li><a href="<%= @question.document.attachment.url %>">
            <span class="label label-info">Click To View Attachment</span><br><img id="thumbnail" src="<%= @question.document.attachment.url %>"/></a></li>
        </ul>
      <% end %>
    </p>
    <% if @question.user == current_user %>
      <div class="btn-group pull-right">
        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button radius dropdown tiny">Edit</button><br>

        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
          <li>
            <a href="#" data-reveal-id="editModal">Edit Question</a>
          </li>
          <li>
            <a href="#" data-reveal-id="deleteModal">Delete Question</a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="small-9 small-centered columns activity">
      <hr>
      <% if @question.answers.length > 0 %>
        <% @question.answers.each do |answer| %>
          <%= link_to answer.user.full_name, answer.user %> <br />
          <%= avatar_url %>
          <%= answer.body %> <br />
          <%= time_ago_in_words(answer.created_at).titleize + "\sAgo On\s" + answer.created_at.strftime('%a %b %d %Y') %> <br />
          <% if answer.user_id == current_user.id %>
            <div class="btn-group pull-right">
              <button href="#" data-dropdown="drop<%= answer.id %>" aria-controls="drop<%= answer.id %>" aria-expanded="false" class="button radius dropdown tiny lesson-edit" id="answer-edit-button" >Edit</button><br>
              <ul id="drop<%= answer.id %>" data-dropdown-content class="f-dropdown lesson-edit-dropdown" aria-hidden="true" tabindex="-1">
                <li>
                  <a data-confirm="Are you sure you want to delete this lesson?" data-method="delete" href="<%= @question.id %>/answers/<%= answer.id %>" rel="nofollow">Delete</a>
                </li>
              </ul>
            </div>
          <% end %>
          <hr>
        <% end %>
      <% end %>
    <div>

    <%= simple_form_for([@question, @question.answers.build]) do |f| %>

      <%= f.text_area :body, placeholder: "Think you have the answer?" %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }  %>

      <input class="button radius success" name="commit" type="submit" value="Post Answer">
    <% end %>
  </div>
</div>
<!-- Start Edit Modal  -->
  <%= render 'edit_modal' %>
<!-- End Edit Modal -->

<!-- Start Delete Modal -->
  <%= render 'delete_modal' %>
<!-- End Delete Modal -->
