<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="tabs tabs-style-tzoid">
      <nav>
        <ul>
          <li><a href="#section-tzoid-1" class=""><span>Dashboard</span></a></li>
          <li><a href="#section-tzoid-2" class=""><span>Calendar</span></a></li>
          <li><a href="#section-tzoid-3" class=""><span>Notes</span></a></li>
          <li><a href="#section-tzoid-4" class=""><span>Contacts</span></a></li>
          <!-- <li><a href="#section-tzoid-5" class=""><span>Call Tracker</span></a></li> -->
          <!-- <li><a href="#section-tzoid-6" class=""><span>Discover</span></a></li> -->
          <!-- <li><a href="#section-tzoid-7" class=""><span>Settings</span></a></li> -->
        </ul>
      </nav>
      <div class="content-wrap activity">
        <section id="section-tzoid-1">
          <%= render :partial => "static_pages/p/dashboard" %>
        </section>

        <section id="section-tzoid-2">
          <p>Calendar</p>
          <%= render partial: "static_pages/p/calendar" %>
        </section>

        <section id="section-tzoid-3">
          <p>Coming Soon!</p>
        </section>

        <section id="section-tzoid-4"><p>Contacts</p>
          <% @contacts.each do |c| %>
          <%= c.full_name %><br>
          <%= c.phone.blank? ? ask(c) : c.phone %><br>
          <%= c.cell_phone %><br>
            <br> <br>
          <% end %>
        </section>
        
<!--         <section id="section-tzoid-5">
          <p>Coming Soon!</p>
        </section> -->
        <!-- <section id="section-tzoid-6">
        <p>Coming Soon!</p>
        </section> -->

        <!-- <section id="section-tzoid-7">
        <p>Coming Soon!</p>
        </section> -->
      </div>
    </div>
  </div>

<div id="lessonModal" class="reveal-modal" data-reveal>
  <%= render :partial => "lessons/form" %>
</div>