<%= render :partial => "statuses/topnavforum" %>
<div class="row">
  <div class="small-9 small-centered columns">
    <% Status.all.where(user_id: current_user.id).each do |status| %>
      <% if can_display_status?(status) %>
        <div class="panel" id="forum-index">
          <strong><%= link_to status.user.full_name, profile_page_path(status.user) %></strong>
          <ul class="no-bullet">
           <em><%= link_to "Posted\s" + time_ago_in_words(status.created_at) + "\sago", status %></em>
           <em> <br />
             <%= link_to(status.comments.length.to_s + "\s comments", status) %>
           </em>
          </ul>
          <div class="like-dislike">
            <div class="icon-bar four-up">
              <% if current_user.voted_up_on? status %>
                <span id="view-heart" class="like-status">
                  <%= link_to dislike_status_path(status.id), method: 'put', remote: true, id: "like-heart", action: 'downvote', data: { id: status.id, voter: current_user.id, vote: "unlike" } do %>
                    <i class="fi-heart red" id="test"></i>
                    <label>Liked</label>
                    <% end %>
                </span>
                <% else %>
                <span id="view-heart" class="like-status">
                  <%= link_to like_status_path(status.id), method: 'put', remote: true, id: "like-heart", action: 'upvote', data: { id: status.id, voter: current_user.id, vote: "like" } do %>
                    <i class="fi-heart" id="test"></i>
                    <label>Like</label>
                    <% end %>
                </span>
              <% end %>

              <a href=" <%= "/statuses/" + status.id.to_s %>" class="item like-dislike">
              <i class="fi-info"></i>
              <label>View Question</label>
              </a>

              <a href=" <%= "/statuses/" + status.id.to_s %>" class="item like-dislike">
                <i class="fi-comments"></i>
                <label><%= pluralize(status.comments.length.to_s, 'comment') %></label>
              </a>

              <a href="#" class="item like-dislike">
                <i class="fi-lock"></i>
                <label>Mark As Solved</label>
              </a>
            </div>
          </div>
          <ul class="inline-list">
            <li> <%= "Liked by\s" + pluralize(status.get_likes.size, 'person') %> </li>
          </ul>
        </div>
      <% end %>
    <% end %>
    </div>
  <!-- </div> --> <!-- Was causing error for the 'close-reveal-model' link on menu -->
</div>


<!-- Reveal Modals begin -->
<div id="newhelp" class="reveal-modal" data-reveal>
  <%= render :partial => "partials/status" %>
</div>
  <a class="close-reveal-modal">&#215;</a>
<!-- End Reveal Modals -->