<div class="row">
  <div class="small-11 small-centered columns">
    <div class="page-header">
      <h1>My Friends</h1>
    </div>

    <dl class="sub-nav" id="friend-list-filter">
    <dt>Filter:</dt>

      <dd class="<%= 'active' if params[:list].blank? %>">
        <%= link_to 'All', user_friendships_path %>
      </dd>  

      <dd class="<%= 'active' if params[:list] == "blocked" %>">
        <%= link_to 'Blocked', user_friendships_path(list: 'blocked') %>
      </dd>

      <% if current_user.requested_user_friendships.length > 0 %>

      <dd class="<%= 'active' if params[:list] == "requested" %>">
        <%= link_to "Requested", user_friendships_path(list: 'requested') %><span class="label round">
          <%= current_user.requested_user_friendships.length.to_s %></span>
      </dd> 

      <% else %>

        <dd class="<%= 'active' if params[:list] == "requested" %>">
          <%= link_to 'Requested', user_friendships_path(list: 'requested') %>
        </dd> 

      <% end %>

      <dd class="<%= 'active' if params[:list] == "accepted" %>">
        <%= link_to 'Accepted', user_friendships_path(list: 'accepted') %>
      </dd>
      <dd class="<%= 'active' if params[:list] == "pending" %>">
        <%= link_to 'Pending', user_friendships_path(list: 'pending') %>
      </dd>
    </dl>

    <hr />


    <div id="friend-list">
    <% @user_friendships.each do |friendship| %>
      <% friend = friendship.friend %>
      <div id="<%= dom_id(friendship) %>" class="media friend">
        <%= avatar_url %>
        <div class="media-body">
          <h4 class="media-heading"><%= friend.full_name %></h4>
          <em>Friendship is <%= friendship.state %></em>. <br />
          <%= link_to "#{friendship.update_action_verbiage}", edit_user_friendship_path(friend), class: 'button' %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>