<% status = Status.find(params[:status_id]) %>
<%= simple_form_for([status, status.comments.build]) do |f| %>
  <div class="large-9 medium-9 small-12 columns">
    <%= f.text_area :body, placeholder: "Leave a comment..", class: "status-div-textarea" %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }  %>
  </div>
     <div class="large-3 medium-3 small-7 columns">
      <input id="status-button" class="button radius" name="commit" type="submit" value="<%= new_status_comment_path(14) %>" data-method="put" data-status-id="<%= status.id %>" data-user-id="<%= current_user.id %>" data-remote="true">
    </div>
<% end %>
