<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="tabs tabs-style-tzoid">
      <nav>
        <ul>
          <li>
            <a href="#section-tzoid-1" class="">
              <span>
                <% if has_unread? %>
                  <%= "Inbox" %>
                  <span class="label alert radius">
                    <%= unread_message_count %>
                    <%= "Unread" %>
                  </span>
                <% else %>
                  <%= "Inbox" %>
                <% end %>
              </span>
            </a>
          </li>
          <li>
            <a href="#section-tzoid-2" class="">
              <span>Sent</span>
            </a>
          </li>
          <li>
            <a href="#section-tzoid-3" class="">
              <span>Trash</span>
            </a>
          </li>
          <li>
            <a href="#section-tzoid-4" class="">
              <span>Compose</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="content-wrap activity" id="convo">

        <section id="section-tzoid-1">
            <%= render "conversation" %>
          <% if current_user.mailbox.inbox.count <= 0 %>
            <div class="alert-box alert radius">
              <%= "You have no conversations" %>
            </div>
          <% end %>
        </section>

        <section id="section-tzoid-2">
            <%= render "sent" %>
          <% if current_user.mailbox.sentbox.count <= 0 %>
            <div class="alert-box alert radius">
              <%= "You have no conversations" %>
            </div>
          <% end %>
        </section>

        <section id="section-tzoid-3">
          <%= render "trash" %>
          <% if current_user.mailbox.trash.count <= 0 %>
            <div class="alert-box alert radius">
              <%= "You have no deleted conversations" %>
            </div>
          <% end %>
        </section>

        <section id="section-tzoid-4">
          <%= render "form" %>
        </section>
      </div>
    </div>
  </div>
</div>