<div class="row">
  <div class="small-4 small-centered columns">
    <div class="icon-bar two-up" id="convo-quick-bar">
      <a href="<%= conversations_path %>" class="item item-1">
        <i class="fi-mail"></i>
        <label>Home</label>
      </a>
      <a class="item item-2" href="/conversations/new">
        <i class="fi-mail"></i>
        <label>Compose New</label>
      </a>
    </div>
  </div>
</div>
<h1> <%= message_name %> </h1>
<%= render 'reply', conversation: conversation %>

  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>
    <% receipt.mark_as_read %> 
    <h3> <%= message.subject %> </h3>
    <h3> <%= message.is_read?(current_user) %>  </h3>
    <p> <%= message.body %>  </p>
<% end %>