<%= render 'convo_top_navbar' %>
<%= render 'reply', conversation: conversation %>

<div class="row">
  <div class="small-10 small-centered columns">
    <div class="panel">
      <%= content_tag_for(:li, conversation.receipts_for(current_user), class: 'inline-list') do |receipt| %>
      <%= content_tag_for(:li, message = receipt.message, class: 'inline-list') %>
        <% message = receipt.message %>
        <% receipt.mark_as_read %> 
        <h3> <%= "From:\s" + message.sender.full_name.titleize %> </h3>
        <h3> <%= "Subject:\t" + message.subject.titleize %> </h3>
        <h3> <%#= message.is_read?(current_user) %>  </h3>
        <hr>
        <h3> <%= "Body:\n\t" %> </h3>
        <p> <%= message.body %>  </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>