<%= render :partial => "topnav" %>
<div class="row">
  <div class="small-7 small-centered columns activity">
  <hr>
    <% @jobs.each do |j| %>
      <%= j.company %> <br>
      <%= j.contact_person %> <br>
      <%= j.contact_email %> <br>
      <%= j.contact_number %> <br>
      <%= j.website %> <br>
      <%= j.start_date %> <br>
      <%= j.url %> <br>
      <%= j.position %> <br>
      <%= j.salery %> <br>
      <%= j.job_type %> <br>
      <%= j.desription %> <br>
      <%= j.responsibilities %> <br>
      <%= j.qualifications %> <br>
      <%= j.address %> <br>
      <%= j.city %> <br>
      <%= j.state %> <br>
      <%= j.zip %> <br>
      <hr>
        <%= "Posted by:\s" + User.find(j.user_id).full_name %> <%= time_ago_in_words(j.created_at) + "\sago" %><br>
      <hr>
    <div class="like-dislike">
      <div class="icon-bar two-up">
        <% if current_user.voted_up_on? j %>
          <span id="view-heart" class="like-j">
            <%= link_to dislike_job_path(j.id), method: 'put', remote: true, id: "like-heart", action: 'downvote', data: { id: j.id, voter: current_user.id, vote: "unlike" } do %>
              <i class="fi-heart red" id="test"></i>
              <label>Liked</label>
              <% end %>
          </span>
          <% else %>
          <span id="view-heart" class="like-j">
            <%= link_to like_job_path(j.id), method: 'put', remote: true, id: "like-heart", action: 'upvote', data: { id: j.id, voter: current_user.id, vote: "upvote" } do %>
              <i class="fi-heart" id="test"></i>
              <label>Like</label>
              <% end %>
          </span>
        <% end %>
        <a href=" <%= "/jobs/" + j.id.to_s %>" class="item like-dislike">
          <i class="fi-info"></i>
          <label>View Job</label>
        </a>
      </div><br>
        </div>
        <ul class="inline-list">
        <%# if signed_in? && current_user.voted_on? j %>
        <%# else %>
        <%# end %>
      <li class="like-count"> <%= "Liked by\s" + pluralize(j.get_likes.size, 'person') %> </li>
      <li> <%= "Disliked by\s" + pluralize(j.get_dislikes.size, 'person') %> </li>
      </ul>
      <hr>
    <% end %>
  </div>
</div>

<div class="pagination-centered">
  <ul class="pagination">
  <%= paginate @jobs %>
  </ul>
</div>