<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">

      <div class="icon-bar one-up">
        <section class="left-small">
        <a class="left-off-canvas-toggle item"><i class="fi-home"></i>
        </section></a>
      </div>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= signed_in? ? "Hello,\s" + current_user.full_name + "." : "GA Community" %></h1>
      </section>

      <div class="icon-bar one-up">
        <section class="right-small">
        <% if signed_in? %>
          <a class="right-off-canvas-toggle"><i class="fi-torsos"></i>
          </section></a>
        <% end %>
      </div>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Account</label></li>
        <li> <%= link_to "Your Profile", user_path(current_user) if signed_in? %> </li>
        <li> <%= navbar_home_link %> </li>
        <li> <%= link_to 'Activity Feed',activities_path if signed_in? %> </li>
        <li> <%= link_to "Private Messages", conversations_path if signed_in? %> </li>
        <li> <%= friendship_path %> </li>
        <li> <%= link_to "Edit Profile", edit_user_path(current_user) if signed_in? %> </li>
        <li> <%= login_logout_link %> </li>
        <% if signed_in? %>
          <li><label>Calendar</label></li>
            <li> <%= link_to "Lessons", lessons_path if signed_in? %> </li>
          <li><label> <%= "Get Help" if signed_in? %> </label></li>
          <li> <%=link_to "Ask & Answer Questions", questions_path if signed_in? %> </li>
          <li> <%= link_to "Find & Post Jobs", jobs_path if signed_in? %> </li>
          <li>
            <label> <%= "Other" if signed_in? %> </label>
          </li>
          <li>
            <%= link_to "All Users", users_path if signed_in? %>
          </li>
          <% end %>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Classmates</label></li>
        <% User.order(updated_at: :desc).each do |u| %>
        <li class="has-submenu">
              <%= user_online(u) %>
            <ul class="right-submenu">
              <li class="back"><a href="#">Back</a></li>
              <li>
                <label>
                  <%= u.full_name %>
                </label>
              </li>
              <li> <%= link_to "Profile", user_path(u) %> </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </aside>
<!-- Divs closed on layouts/application.html.erb -->
