<br /> <h1>Sign up</h1> <br />
<%= form_for(@user) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, placeholder: 'First Name' %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, placeholder: 'Last Name' %>

  <%= f.label :user_name %>
  <%= f.text_field :user_name, placeholder: 'User Name' %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'Email' %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Password' %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Your Password' %>

  <%= f.submit "Create my account", class: "button expand" %>
<% end %>

<!-- <br /> <h1>Sign up</h1> <br />

<form data-abide accept-charset="UTF-8" action="/users" class="simple_form new_user" id="new_user" method="post" novalidate="novalidate">
  
  <div style="display:none">
    <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="058cOyEVYaPaH8/n9ur1crDPz/5DnUyCoTCJ8Ed/C6E=">
  </div>
  
  <div class="form-group first-name-field">
    
    <label>First name <small>required</small></label>
    <input class="form-control" id="user_first_name" name="user[first_name]" placeholder="Your first name" type="text" pattern="([a-zA-Z0-9]){3,30}" required>
    <small class="error">Your name must be longer than 3 characters</small>
    </label>
  </div>

  <div class="form-group last-name-field">
    
    <label>First name <small>required</small></label>
    <input class="form-control" id="user_last_name" name="user[last_name]" placeholder="Your first name" type="text" pattern="<%#= chr_length(3,30) %>" required>
    <small class="error">Your name must be longer than 3 characters</small>
    </label>
  </div>

  <div class="form-group email-field">
    
    <label>Email <small>required</small>
    <input class="form-control" id="session_email" name="session[email]" placeholder="your email address.." type="text" pattern="<%= js_email_regex %>" required>
    <small class="error">An email address is required.</small>
    </label>
  </div>
  
  <div class="form-group password-field">
  
    <label>Password <small>required</small>
    <input class="form-control" id="user_password" name="user[password]" placeholder="password ..." type="password" required pattern="<%#= chr_length(3,30) %>">
    </label>
    <small class="error">Your password must be longer than 3 characters</small>
  </div>

  <div class="form-group password-confirmation-field">
    
    <label>Confirm Password <small>required</small>
    <input id="user_password_confirmation" type="password" name="user[password_confirmation]" required pattern="<%#= chr_length(3,30) %>" data-equalto="user_password">
    </label>
    <small class="error">The password did not match</small>
  </div>
  
  <div class="form-group">
    <button type="submit" class="button expand" value="Create my account">Sign me up!</button>
  </div> -->
</form>