<%#= debug(params[:id]).include? @user.id.to_s if !@user.nil? %>
<%#= debug(@user.email.to_s)if !@user.nil? %>

<%= simple_form_for(Status.new, :html => {:class => "form-horizontal", multipart: true}) do |f| %>

  <%= f.input :subject  %>
  <%= f.input :content  %>
  <%= f.input :created_at, as: :date, start_year: Date.today.year, end_year: Date.today.year - 12, discard_day: false, order: [:year, :month, :day] %>

  <div class="medium-6 columns">
    <input class="file optional" id="status_document_attributes_attachment" name="status[document_attributes][attachment]" type="file" value="Upload Photo"/> </input>
    <span class="actions">
      <%= f.button :submit, class: 'button round success' %>
    </span>
  <% end %>
  <!-- </div> -->
</div>