<%= simple_form_for(@current_user) do |f| %>
  <div class="row">
    <div class="small-12 columns">
    <div class="small-3 columns">
    <%= link_to "Back", :back, class: "button radius alert" %>
    </div>
    <div class="small-7 columns">
    <%= f.submit "Save Changes", class: "button small radius success expand" %>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns ">
      <div class="panel">
        <% @user = current_user %>
        <div class="row">
          <div class="small-6 large-6 columns">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :placeholder => "Your first name", :autofocus => true %>
          </div>
          <div class="small-6 large-6 columns">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :placeholder => "Your last name" %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 large-6 columns">
            <%= f.label :user_name %>
            <%= f.text_field :user_name, :placeholder => "Username. ( No spaces or characters )" %>
          </div>
          <div class="small-6 large-6 columns">
            <%= f.label :email %>
            <%= f.text_field :email, :placeholder => "Your main email" %>
          </div>
        </div>
        <div class="row>">
          <div class="small-12 columns">
            <%= f.input :job_description, :placeholder => "Job Description"  %>
          </div> 
        </div>
        <img src="http://hospitalfranciscovilar.com.br/wp-content/uploads/2013/11/gravatar-60-grey.jpg"/>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <br>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :website %>
                <%= f.text_field :website, :placeholder => "www.example.com" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :phone %>
                <%= f.text_field :phone, :placeholder => "Phone number" %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :cell_phone %>
                <%= f.text_field :cell_phone, :placeholder => "Cell phone number" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :public_email %>
                <%= f.text_field :public_email, :placeholder => "Public email" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :birthday %>
                <%= f.text_field :birthday, :placeholder => "Birthday 01/01/1980" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :github %>
                <%= f.text_field :github, :placeholder => "Just your username. e.g. 'JohnDoe'" %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :linkedin %>
                <%= f.text_field :linkedin, :placeholder => "Just your username. e.g. 'JohnDoe'" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :facebook %>
                <%= f.text_field :facebook, :placeholder => "Just your username. e.g. 'JohnDoe'" %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :job_name %>
                <%= f.text_field :job_name, :placeholder => "Google" %>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :city %>
                <%= f.text_field :city, :placeholder => "Los Angeles" %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.label :state %>
                <%= f.text_field :state, :placeholder => "CA" %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="large-7 columns">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel1">Wall Post</a></dd>
        <dd><a href="#panel2">Statuses</a></dd>
        <dd><a href="#panel3">Questions</a></dd>
        <dd><a href="#panel4">Activity</a></dd>
      </dl>
      <%#= render :partial => "users/p/post_form" %>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <%= render "users/p/post" %>
        </div>
        <div class="content" id="panel2">
          <%= render "users/p/statuses" %>
        </div>
        <div class="content" id="panel3">
          <%= render "users/p/questions" %>
        </div>
        <div class="content" id="panel4">
          <%= render "users/p/activities" %>
        </div>
      </div>    
    <% end %>
  </div>
</div> 