<div class="row">
  <div class="large-5 columns ">
    <div class="panel">
      <h1><center><%= @user.full_name %></center></h1>
      <img src="http://hospitalfranciscovilar.com.br/wp-content/uploads/2013/11/gravatar-60-grey.jpg"/>
        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title">Site: <a href="http://<%= @user.website %>">Personal Website</a></h5>
        </section>
        <section class="section">
          <h5 class="title">Phone: <a href="#"><%= @user.phone %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Cell: <a href="#"><%= @user.cell_phone %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Birthday: <a href="#"><%= @user.birthday %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Email: <a href="#"><%= @user.public_email %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Github: <a href="#"><%= @user.github.camelize %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Linkedin: <a href="#"><%= @user.linkedin.camelize %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Facebook: <a href="#"><%= @user.facebook.camelize %></a></h5>
        </section>
        <section class="section">
          <h5 class="title">Location: <%= @user.city + ",\s" + @user.state %></h5>
        </section>
        <section class="section">
          <h5 class="title"><a href="#"><%#= @user.state %></a></h5>
        </section>
      </div>
    </div>
  </div>
    
     
     
  <div class="large-7 columns">
    <% if Question.all.where(user_id: @user.id).empty? %>
        <div class="row">
          <div class="large-2 columns">
            <img src="http://androidandme.wpengine.netdna-cdn.com/wp-content/themes/android-and-me-v4/images/avatars/generic-gravatar-nerd.png"/></div>
            <div class="large-10 columns">
              <p><strong><%= @user.full_name + ":\s" %></strong> I haven't posted any questions yet!! Message <%= @user.full_name %> and ask them to get involved <a href="#" data-reveal-id="noQuestionMessage">here.</a></p>
          </div>
        </div>
        <hr/>
      <% else %>
      <% Question.all.where(user_id: @user.id).each do |status| %>
    <div class="row">
      <div class="large-2 columns">
      <img src="http://androidandme.wpengine.netdna-cdn.com/wp-content/themes/android-and-me-v4/images/avatars/generic-gravatar-nerd.png"/></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
      </div>
    </div>
    <hr/>
          
      <% end %>
    <% end %>
  </div>
</div>

 <div id="noQuestionMessage" class="reveal-modal" data-reveal>
  <%= simple_form_for :conversation, url: :conversations do |f| %>
  
  <input class="string required" id="conversation_recipients" name="conversation[recipients]" placeholder="<%= @user.email %>" type="hidden" value="<%= @user.email %>">

  <input class="string required" id="conversation_subject" name="conversation[subject]" type="text" value="Hey <%= @user.full_name %>, you haven't posted any questions yet." placeholder="Hey <%= @user.full_name %>, you haven't posted any questions yet.">
  <%= f.input :body, as: :text %>
   
   
  <%= f.button :submit, 'Send', class: 'button' %>
  <%= f.button :submit, 'Cancel', type: :reset, class: 'button alert' %>
<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="messageModal" class="reveal-modal" data-reveal>
  <%= render :partial => "partials/newmessage" %>
  <a class="close-reveal-modal">&#215;</a>
</div>

 
 
  