<p><%= Status.find(activity.targetable_id).user.full_name %> asked a new <%= link_to "forum question", status_path(activity.targetable_id) %>.</p> <br />
 <h5><p>Subject:</h5><%= Status.find(activity.targetable_id).subject %></p>
<p>Question: <%= truncate( Status.find(activity.targetable_id).content, length: 15) %> <%= link_to "(Read more)", status_path(activity.targetable_id), id: 'activity-read-more-link' %></p>