<p><%= Question.find(activity.targetable_id).user.full_name %> updated their <%= link_to "\squestion", question_path(activity.targetable_id) %>.</p> 
<p>Subject: <%= truncate( Question.find(activity.targetable_id).subject, length: 15) %> </p>
<p>Question: <%= truncate( Question.find(activity.targetable_id).body, length: 15) %></p>
<p> Tags: <%= raw Question.find(activity.targetable_id).tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %> </p>
<br>