<%= render "lessonstopnav" %>
<p id="notice"><%= notice %></p>
<div class="status well">
 <div class="row">
  <div class="col-md-1">
  </div>

<p>
  <b>Name:</b>
  <%= @lesson.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @lesson.subject.html_safe %>

  <hr />
</p>


<div class="col-md-11">
  <% if @lesson.user_id == current_user.id %>
    <div class="btn-group pull-right">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button radius dropdown tiny lesson-edit">Edit</button><br>

      <ul id="drop1" data-dropdown-content class="f-dropdown lesson-edit-dropdown" aria-hidden="true" tabindex="-1">
        <li>
          <a href="#" data-reveal-id="lessonModal">Edit Post</a>
        </li>
        <li>
          <%= link_to 'Delete', @lesson, method: :delete, :data => {:confirm => 'Are you sure you want to delete this lesson?'} %>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<!-- Start Edit Modal  -->
<div id="lessonModal" class="reveal-modal" data-reveal>
  <p class="lead">
    <%= render :partial => "form" %>
  </p>
</div>
<!-- End Edit Modal -->

</div>