<div class="large-10 medium-10 small-12 large-centered medium-centered small-centered columns">
 <div id="calendar"></div>
</div>
    <div class="large-10 medium-10 small-12 large-centered medium-centered small-centered columns">
    <h1>Lessons</h1>
    <hr>
    </div>
    <br>
<% Lesson.all.where("start >= ?", Date.today).each do |l| %>
  <div class="dashboard-content-wrapper">
    <span class="dashboard-content-title" id="calendar-title">
      <%= link_to User.find(l.instructor).full_name, user_path(l.instructor) %> is teaching  <%= link_to l.title, lesson_path(l) %> in classroom <%= l.classroom %> <%= l.start.strftime("at %l:%M%p on %D") %>
    </span>
    <article class="calendar-body">
    Assistant: <%= link_to User.find(l.assistant).full_name, user_path(l.assistant) %>
    <br>
      Subject: <%= l.subject %>
    <br>
      Title: <%= l.title %>
    <br>
      Description: <%= l.description %>
    <br>
      Start: <%= l.start.strftime("%l:%M%p %D") %>
    <br>
      End: <%= l.start.strftime("%l:%M%p %D") %>
    <span class="dashboard-content-footer">
      Created At: <%= l.created_at.strftime("%l:%M%p %D by ") %>
      <%= link_to User.find(l.user_id).full_name, user_path(l.user_id) %>
      <% if l.user_id == current_user.id %>
        <div class="btn-group pull-right">
          <button href="#" data-dropdown="drop<%= l.id %>" aria-controls="drop<%= l.id %>" aria-expanded="false" class="button radius dropdown tiny lesson-edit" id="dashboard-calendar-lesson-edit-button">Edit</button><br>
          <ul id="drop<%= l.id %>" data-dropdown-content class="f-dropdown lesson-edit-dropdown" aria-hidden="true" tabindex="-1">
            <li>
              <%= link_to "View", lesson_path(l) %>
            </li>
            <li>
              <%= link_to "Edit", edit_lesson_path(l) %>
            </li>
            <li>
              <%= link_to 'Delete', l, method: :delete, :data => {:confirm => 'Are you sure you want to delete this lesson?'} %>
            </li>
          </ul>
        </div>
      <% end %>
    </span>
  </div>
  <hr>
<% end %>