<div class="row">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
    <% @contacts.each do |c| %>
      <div class="large-5 medium-5 small-12 contacts-list main-content-wrapper columns">
        <div class="main-content-title">
        <span class="contacts avatar">
          <%= avatar_url %>
        </span>
        <span class="contacts user-full-name">
          <%= c.full_name %>
        </div>
        <span class="contacts contacts-body phone">
          <%= c.phone.blank? ? ask(c) : c.phone %><br>
        </span>
        <span class="contacts contacts-body cell-phone">
          <%= c.cell_phone.blank? ? ask(c) : c.cell_phone %>
        </span>
        <span class="contacts contacts-body email">
          <%= c.public_email.blank? ? ask(c) : c.public_email %><br>
        </span>
        <span class="contacts contacts-body birthday">
          <%= c.birthday.blank? ? ask(c) : c.birthday %>
        </span>
        <span class="contacts contacts-body site">
          <%= c.website.blank? ? ask(c) : c.website %>
        </span>
        <span class="contacts contacts-body github">
          <%= c.github.blank? ? ask(c) : c.github %>
        </span>
        <span class="contacts contacts-body linkedin">
          <%= c.linkedin.blank? ? ask(c) : c.linkedin %>
        </span>
        <span class="contacts contacts-body facebook">
          <%= c.facebook.blank? ? ask(c) : c.facebook %>
        </span>
        <span class="contacts contacts-body city">
          <%= c.city.blank? ? ask(c) : c.city %>
        </span>
      </div>
    <% end %>
  </div>
</div>