<div class="row">
  <div class="small-9 small-centered columns">
    <h1>Activity Feed</h1>
    <!-- change the wording to reflect the correct posting words -->
    <% @activities.each do |activity| %>
    <%= User.find(activity.user_id).full_name if current_user %>
    <% if activity.action == "upvoted" && activity.user_id == current_user.id %>
      <%= "Favorited Their Own\s" + activity.targetable_type %>
    <% elsif activity.action == "upvoted" %>
      <%= "Favorited\s" + Question.find(activity.targetable_id).user.full_name.pluralize + "\s" + activity.targetable_type  %>
    <% end %>
       <br>
      <%= activity.inspect %> <br>
      <%= activity.created_at %> <br>
      <%= activity.targetable_type.constantize.find(activity.targetable_id).inspect %> <br>
    <br>
    <%#= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", 
            locals: { activity: activity } %>
    <% end %>
  </div>
</div>

