<% if Question.all.where(user_id: @user.id).empty? %>
        <div class="row">
          <div class="large-2 columns">
            <img src="http://androidandme.wpengine.netdna-cdn.com/wp-content/themes/android-and-me-v4/images/avatars/generic-gravatar-nerd.png"/></div>
            <div class="large-10 columns">
              <p><strong><%= @user.full_name + ":\s" %></strong> I haven't posted any questions yet!! Message <%= @user.full_name %> and ask them to get involved <a href="#" data-reveal-id="noQuestionMessage">here.</a></p>
          </div>
        </div>
        <hr/>
      <% else %>
      <% Question.all.where(user_id: @user.id).reverse.each do |question| %>
    <div class="panel" id="forum-index">
        <strong><%= link_to question.user.full_name, profile_page_path(question.user) %></strong>
          <ul class="no-bullet">
          <li> <%= question.subject %> </li>
    Tags: <%= raw question.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %> <br>
           <em><%= "Posted\s" + time_ago_in_words(question.created_at) + "\sago" %></em>
          </ul>
        <!-- </div> -->
         <div class="like-dislike">
      <div class="icon-bar four-up">
        <% if current_user.voted_up_on? question %>
          <a href=" <%= "/questions/"+ question.id.to_s + "/dislike" %>" action="downvote" data-method="put" class="item like-dislike">
          <i class="fi-heart" id="red"></i>
          <label>Liked</label>
        </a>
        <% else %>
        <a href=" <%= "/questions/"+ question.id.to_s + "/like" %>" action="upvote" data-method="put"  class="item like-dislike">
          <i class="fi-heart"></i>
          <label>Like</label>
        </a>
        <% end %>
        <a href=" <%= "/questions/" + question.id.to_s %>" class="item like-dislike">
          <i class="fi-info"></i>
          <label>View Question</label>
        </a>

        <a href=" <%= "/questions/" + question.id.to_s %>" class="item like-dislike">
          <i class="fi-comments"></i>
          <label><%= pluralize(question.answers.length.to_s, 'Answer') %></label>
        </a>

        <a href="#" class="item like-dislike">
          <i class="fi-lock"></i>
          <label>Mark As Solved</label>
        </a>
      </div><br>
        </div>
        <ul class="inline-list">
          <li> <%= "Liked by\s" + pluralize(question.get_likes.size, 'person') %> </li>
        </ul>
      </div>
          
      <% end %>
    <% end %>