<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA Cohort Network</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => "partials/navbar" %>
    
    <div id="alert-div">
      <%= render :partial => "partials/flash_alert" %>
    </div>

    <div class="container">

      <%= yield %>
          
          <!-- This was fucking shit up -->
          <div class="row">
            <div class="large-12 columns text-center">
              <!-- <div id="myModal" class="reveal-modal" data-reveal>
                <%#= render :partial => "partials/status" %>
              </div> -->
            </div>
          </div>

      <%= javascript_include_tag "application" %>

      <%= render :partial => "partials/footer" %>
        </div>
        <a class="exit-off-canvas"></a>
      </div> <!-- Do not remove. --> 
      <!--^^ Closes the partials/navbar div -->

       <!-- Javascripts for calender etc. -->
      <%= render :partial => "layouts/script" %>
      <% if signed_in?  %>
        <%= javascript_tag do %>
          window.current_user = '<%= current_user.id %>'
        <% end %>
      <% end %>
    </body>
  </html>