<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA Cohort Network</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <meta name="description" content="GA Cohort Network for developers attending General Assebmly" />
    <meta property="og:site_name" content="GA Cohort Network" />
    <meta property="og:title" content="GA Cohort Network" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="ga-cohorts.herokuapp.com" />
    <meta property="og:image" content="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png" />
    <link rel="canonical" href="ga-cohorts.herokuapp.com" />
    <link rel="shortlink" href="ga-cohorts.herokuapp.com" />
    <link rel="shortcut icon" href="https://generalassemb.ly/online/assets/favicon-bb2f243f124d9d86bcf9f565dbd59dfc.ico" />
  </head>
  <body>

    <%= render :partial => "partials/navbar" %>
    
    <div id="alert-div">
      <%= render :partial => "partials/flash_alert" %>
    </div>

    <div class="container">

      <%= yield %>
          
          <!-- This was fucking shit up -->
          <div class="row">
            <div class="large-12 columns text-center">
              <!-- <div id="myModal" class="reveal-modal" data-reveal>
                <%#= render :partial => "partials/status" %>
              </div> -->
            </div>
          </div>

      <%= javascript_include_tag "application" %>

      <%= render :partial => "partials/footer" %>
        </div>
        <a class="exit-off-canvas"></a>
      </div> <!-- Do not remove. --> 
      <!--^^ Closes the partials/navbar div -->

       <!-- Javascripts for calender -->
      <%= render :partial => "layouts/script" %>
      <%# if signed_in?  %>
        <%#= javascript_tag do %>
          <!-- window.current_user = '<%#= current_user.id %>' -->
        <%# end %>
      <%# end %>
    </body>
  </html>