<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA Cohort Network</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render :partial => "partials/navbar" %>
    
    <div id="alert-div">
      <%= render :partial => "partials/flash_alert" %>
    </div>

    <div class="container">

      <%= yield %>
          
          <!-- This was fucking shit up -->
          <div class="row">
            <div class="large-12 columns text-center">
              <!-- <div id="myModal" class="reveal-modal" data-reveal>
                <%#= render :partial => "partials/status" %>
              </div> -->
            </div>
          </div>

        <a class="exit-off-canvas"></a>
      <%= javascript_include_tag "application" %>

      <%= render :partial => "partials/footer" %>
        </div>
      </div>

      <script>
        $(function(){ $(document).foundation(
          {
            animation: 'fadeAndPop',
            animation_speed: 250,
            close_on_background_click: true,
            dismiss_modal_class: 'close-reveal-modal',
            bg_class: 'reveal-modal-bg',
            root_element: 'body',
            bg : $('.reveal-modal-bg'),
            css : {
              open : {
                'opacity': 0,
                'visibility': 'visible',
                'display' : 'block'
              },
              close : {
                'opacity': 1,
                'visibility': 'hidden',
                'display': 'none'
              }
            }
          }
        );
      });
        $(document).foundation('joyride', 'start');
      </script>
      <script>
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
           },
           // editable: true,
           // eventLimit: true, // allow "more" link when too many events

          dayClick: function() {
            $('#lessonModal').foundation('reveal', 'open', '');
          },

          eventClick: function() {
            $('#editLessonModal').foundation('reveal', 'open', '');
          },

          events: {
            url: '/lessons.json',
            type: 'GET',
            success: function() {
              console.log("Calendar data successfully received.")
            },
            error: function() {
              console.log('there was an error while fetching events!');
            },
            textColor:  'black'
          },
        });
      </script>
    </body>
  </html>