<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= controller_name.camelize + " || " if controller_name != "sessions" %> GA Cohort Network </title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <meta name="description" content="GA Cohort Network for developers attending General Assembly" />
    <meta property="og:site_name" content="GA Cohort Network" />
    <meta property="og:title" content="GA Cohort Network" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="ga-cohorts.herokuapp.com" />
    <meta property="og:image" content="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png" />
    <link rel="canonical" href="ga-cohorts.herokuapp.com" />
    <link rel="shortlink" href="ga-cohorts.herokuapp.com" />
    <link rel="shortcut icon" href="https://generalassemb.ly/online/assets/favicon-bb2f243f124d9d86bcf9f565dbd59dfc.ico" />
    <style type="text/css" media="screen">
      .hero {
          padding-bottom: 50px;
          background-image: url("assets/sg.JPG");
          background-size: cover;
          box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2);
        }
    </style>
  </head>
  <body>
  <% if controller_name != "sessions" %>
    <%= render :partial => "partials/navbar" %>
    <div id="alert-div">
      <%= render :partial => "partials/flash_alert" %>
    </div>
    <%= yield %>
  <% end %>
  <% if controller_name == "sessions" %>
  <section class="hero">
    <div class="row page-title">
      <div class="xs-12 columns">
        <div class="main-wrapper">
          <h1>General Assembly</h1>
          <h3>Cohort Network</h3>
          <hr> <br> <br> <br> <br>
        </div>
      </div>
    </div>
    <div class="row login-block">
      <div class="large-8 medium-6 columns about-box">
        <div class="black-box">
          <h2 class="login-header" style="background-color: transparent; text-align: center; text-shadow: 2px 1px 11px #000; color: #fff;">A place for personal <strong>development.</strong></h2>
          <p class="login-text">A place for connecting cohorts to instructors and one-another while sharing knowledge and developing personal growth. Before, during and after your cohort ends.
          </p>
          <p style="margin-top: 15px; height: 60px;"></p> 
          <center><a href="/users/new" class="secondary small button">Sign Me Up! →</a></center>
        </div>
      </div>
      <div class="large-4 medium-6 columns about-box black-box">

        <%= simple_form_for(:session, url: sessions_path, html: { class: "form-signin" }) do |f| %>
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
          <%= f.label :email %>
          <%= f.input_field :email, placeholder: "Email Address", class: 'form-control', autofocus: true %>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "password", class: 'form-control'  %>
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <%= f.input :Remember_me, as: :boolean, checked_value: true, unchecked_value: false %>
          <%= f.submit 'Log me in', class: 'btn btn-lg btn-login btn-block' %>
          <div class="registration">
            Don't have an account yet? <br>
            <%= link_to("Create an account", signup_path, class: '') %>
          </div>
        </div> <!-- END login-wrap -->
        <% end %>
      </div>
    </div>
  </section>

      </div>
      <div class="four-image">
        <h1 class="four-image-header">A few reasons why you'll love us.</h1><br>
        <div class="small-8 small-centered columns">
          <ul class="small-block-grid-2">
            <li>
              <a href="#"><img src="assets/speaker.png"/></a>
              <p class="signin-page-image-text">
                Share updates with friends, classmates and instructors.
              </p>
            </li>
            <li>
              <a href="#"><img src="assets/computer.png"/></a>
              <p class="signin-page-image-text">
                Ask and answer questions on the forum.
              </p>
            </li>
            <li>
              <a href="#"><img src="assets/work.png"/></a>
              <p class="signin-page-image-text">
                Post jobs you know of to give friends the leading edge.
              </p>
            </li>
            <li>
              <a href="#"><img src="assets/inbox.png"/></a>
              <p class="signin-page-image-text">
                Send and receive private messages to and from anyone.
              </p>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag "application" %>
    <script>$(window).load(function() {})</script>
    <%= render :partial => "partials/footer" %>
      <a class="exit-off-canvas"></a>
    </div> <!-- Do not remove. --> 
    <!--^^ Closes the partials/navbar div -->
    <div>
      <br>
      <br>
      <br>
      <br>
    </div>
      <% if controller_name == "users" && params[:action] == "show" %>
        <%= javascript_tag do %>
          window.user_id = "<%#= @user.id %>"
        <% end %>
      <% end %>
          <script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
    </script>
     <!-- Javascripts for calender -->
    <%= render :partial => "layouts/script" %>
  </body>
</html>