<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= controller_name.camelize + " || " if controller_name != "sessions" %> GA Cohort Network </title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <meta name="description" content="GA Cohort Network for developers attending General Assebmly" />
    <meta property="og:site_name" content="GA Cohort Network" />
    <meta property="og:title" content="GA Cohort Network" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="ga-cohorts.herokuapp.com" />
    <meta property="og:image" content="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png" />
    <link rel="canonical" href="ga-cohorts.herokuapp.com" />
    <link rel="shortlink" href="ga-cohorts.herokuapp.com" />
    <link rel="shortcut icon" href="https://generalassemb.ly/online/assets/favicon-bb2f243f124d9d86bcf9f565dbd59dfc.ico" />
    <% if controller_name == "sessions" %>
      <style>
        body {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          /*background-color: #2980b9!important;*/
        }
        hr {
          text-align: center;
          margin: 0 auto;
          opacity: 0.5;
        }
        ul {
          text-transform: uppercase;
        }
        ul.inline-list.right {
          text-transform: none;
        }
        ul.inline-list.right a {
          color: #000;
        }
        ul.inline-list.right a:hover {
          color: rgba(0, 0, 0, 0.5);
        }
        h1 {
          font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
          font-size: 32px;
          color: #fff;
          line-height: 28px;
          margin-top: 16px;
          margin-bottom: 0px;
          text-align: center;
        }
        h2 {
          font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
          color: #fff;
          font-size: 36px;
          line-height: 34px;
        }
        h3 {
          font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
          font-size: 24px;
          color: #fff;
          line-height: 10px;
          text-align: center;
          font-weight: 500;
          padding-bottom: 10px;
        }
        h4 {
          font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
          /*color: #000;*/
          font-size: 28px;
          padding-top: 5px;
        }
        .columns.large-centered {
          padding-left: 5px;
          padding-right: 5px;
        }
        @media only screen and (max-width: 40em)  {
          .columns.large-centered {
            font-size: 13px;
          }
        }
        @media only screen and (min-width: 40.063em)  {
          .columns.large-centered {
            font-size: 14px;
          }
        }
        .about-box {
          color: #fff;
        }
        .black-box {
          background-color: rgba(0, 0, 0, 0.55);
          padding: 35px;
          font-weight: 900;
        }
        .black-box p {
          font-weight: 900;
        }
        .secondary.small.button {
          background-color: transparent;
          color: #fff;
          border: 2px #fff solid;
          border-radius: 5px;
          padding: 15px 50px 15px 50px;
          margin: 0;
        }
        .secondary.small.button:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
        .row .main-wrapper {
          color: #fff;
          color: #000;
        }
        .about-content {
          background-color: #fff;
          box-shadow: 6px 5px 20px rgba(234, 234, 234, 1);
          height:  163px;
        }
        .about-content * {
          color: #000!important;
        }
        .button-group li .button {
          border: 0!important;
        }
        .button {
          -webkit-appearance: none;
          background-color: transparent;
          border-width: 0;
          text-align: center;
          box-shadow: 0 0 0;
        }
        .button:hover {
          color: rgba(255, 255, 255, 0.7);
          background-color: transparent;
        }
        footer p, footer a {
          font-size: 14px;
        }
        .hero {
          padding-bottom: 50px;
          background-image: url("assets/sg.JPG");
          background-size: cover;
          box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2);
        }
        .hero-content {
          padding-top: 0;
          padding-bottom: 30px;
          /*background-color: #666;*/
        }
        .panel {
          margin: 40px 0 40px 0;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          border: none;
          background-color: #EAEAEA;
        }
        .large-4 img {
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
        .radius.right.button {
          color: #000;
          border: 2px #000 solid;
          border-radius: 5px;
          padding: 15px 50px 15px 50px;
          margin: 0;
          font-size: 0.8125em;
        }
        .four-image {
          padding-bottom: 40px;
          background-color: #2980b9!important;
          padding-top: 37px;
        }
        @media only screen and (min-width: 64.063em)  {
          .radius.right.button {
            color: #000;
            border: 2px #000 solid;
            border-radius: 5px;
            padding: 15px 50px 15px 50px;
            margin-top: 25px;
            font-size: 0.8125em;
          }
        }
        @media only screen and (min-width: 40.063em) {
          .radius.right.button {
            color: #000;
            border: 2px #000 solid;
            border-radius: 5px;
            padding: 15px 50px 15px 50px;
            margin-top: 25px;
            font-size: 0.8125em;
          }
        }
        .radius.right.button:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

      </style>
    <% end %>
  </head>
  <body>
  <% if controller_name != "sessions" %>
    <%= render :partial => "partials/navbar" %>
    <div id="alert-div">
      <%= render :partial => "partials/flash_alert" %>
    </div>
      <%= yield %>
      <% end %>
      <% if controller_name == "sessions" %>
    
    <section class="hero">
      <div class="row page-title">
        <div class="large-12 medium-12 columns">
          <div class="main-wrapper">
            <h1>General Assembly</h1>
            <h3>Cohort Network</h3>
            <hr> <br> <br> <br> <br>
          </div>
        </div>
      </div>
      <div class="row login-block">
        <div class="large-8 medium-6 columns about-box">
          <div class="black-box">
            <h2 class="login-header" style="background-color: transparent; text-align: center; text-shadow: 2px 1px 11px #000; color: #fff;">A place for personal <strong>development.</strong></h2>
            <p class="login-text">A place for connecting cohorts to instructors and one-another while sharing knowledge and developing personal growth. Before, during and after your cohort ends.
            </p>
            <p style="margin-top: 15px; height: 60px;"></p> 
            <center><a href="/users/new" class="secondary small button">Sign Me Up! →</a></center>
          </div>
        </div>
        <div class="large-4 medium-6 columns about-box black-box">
        <form data-abide accept-charset="UTF-8" action="/sessions" class="simple_form session" method="post" novalidate="novalidate">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Z8om645E2k/dk6PFr7L7vg/ANYvbJBpTFAF1SmuE+WM=">
      </div>
      <div class="form-group email-field">
        <label>Email <small>required</small>
        <input class="form-control" id="session_email" name="session[email]" placeholder="your email address.." type="text" required>
        <small class="error">An email address is required.</small>
        </label>
      </div>
      <div class="form-group password-field">
        <label>Password <small>required</small>
        <input class="form-control" id="session_password" name="session[password]" placeholder="password ..." type="password" required pattern="[a-zA-Z0-9]+">
        </label>
        <small class="error">Your password must meet the requirements</small>
      </div>
      <div class="">
        <div class="form-group">
        <button type="submit" value="Log me in" class="button small radius success">Submit</button>
        <%= link_to("Sign Up", signup_path, class: 'button right') %>
      </div>
    </form>
        </div>
      </div>
    </section>
      </div>
      <div class="four-image">
        <h1 class="four-image-header">A few reasons why you'll love us.</h1><br>
      <div class="small-8 small-centered columns">
        <ul class="small-block-grid-2">
          <li>
            <a href="#"><img src="assets/speaker.png"/></a>
            <p class="signin-page-image-text">
              Share updates with friends, classmates and instructors.
            </p>
          </li>
          <li>
            <a href="#"><img src="assets/computer.png"/></a>
            <p class="signin-page-image-text">
              Ask and answer questions on the forum.
            </p>
          </li>
          <li>
            <a href="#"><img src="assets/work.png"/></a>
            <p class="signin-page-image-text">
              Post jobs you know of to give friends the leading edge.
            </p>
          </li>
          <li>
            <a href="#"><img src="assets/inbox.png"/></a>
            <p class="signin-page-image-text">
              Send and receive private messages to and from anyone.
            </p>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
      <%= javascript_include_tag "application" %>
      <%= render :partial => "partials/footer" %>
        <a class="exit-off-canvas"></a>
      </div> <!-- Do not remove. --> 
      <!--^^ Closes the partials/navbar div -->
        <% if controller_name == "users" %>
         <%= javascript_tag do %>
           window.user_id = "<%= @user.id %>"
         <% end %>
       <% end %>
       <!-- Javascripts for calender -->
      <%= render :partial => "layouts/script" %>
    </body>
  </html>